* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.time-block {
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    border-top: 1px solid #000000;
    height: 100px;
}

.time {
    width: 10%;

}

.write {
    width: 80%;
    height: 100%;
}

textarea {
    width: 100%;
    height: 100%;
    font-weight: 900;
}

.save {
    width: 10%;
    background-color: lightblue;
}

img {
    height: 100%;
}